{% extends '::base.html.twig' %}

{% block body -%}
    <h1>actores list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Biografia</th>
                <th>Pelicula</th>
                <th>Premios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('actores_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.foto }}</td>
                <td>{{ entity.biografia }}</td>
                <td>{{ entity.pelicula }}</td>
                <td>{{ entity.premios }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('actores_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('actores_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('actores_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
