{% extends '::base.html.twig' %}

{% block body -%}
    <h1>categorias list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cienciaficcion</th>
                <th>Accion</th>
                <th>Animacion</th>
                <th>Comedia</th>
                <th>Terror</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categorias_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cienciaFiccion }}</td>
                <td>{{ entity.accion }}</td>
                <td>{{ entity.animacion }}</td>
                <td>{{ entity.comedia }}</td>
                <td>{{ entity.terror }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('categorias_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('categorias_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
